In [245]:
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')
from collections import defaultdict
import numpy as np

In [45]:
# Opening JSON file
f = open('data/amazon filings.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
# data = json.dumps(data, indent=5)

In [38]:
# print(data)

In [21]:
df = pd.read_json("data/amazon filings.json")

In [39]:
df = pd.json_normalize(data)

In [34]:
for index, row in df.iterrows():
    print(row[8])
    break

Accounts Payable (Deprecated 2009-01-31)

In [24]:
df.shape

(1, 1510)

In [17]:
df.head(2)

,cik,entityName,facts.dei.EntityCommonStockSharesOutstanding.label,facts.dei.EntityCommonStockSharesOutstanding.description,facts.dei.EntityCommonStockSharesOutstanding.units,facts.dei.EntityPublicFloat.label,facts.dei.EntityPublicFloat.description,facts.dei.EntityPublicFloat.units,facts.us-gaap.AccountsPayable.label,facts.us-gaap.AccountsPayable.description,...,facts.us-gaap.EffectOfExchangeRateOnCashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsIncludingDisposalGroupAndDiscontinuedOperations.units,facts.us-gaap.ShortTermBorrowings.label,facts.us-gaap.ShortTermBorrowings.description,facts.us-gaap.ShortTermBorrowings.units,facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.label,facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.description,facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.units,facts.us-gaap.TreasuryStockCommonValue.label,facts.us-gaap.TreasuryStockCommonValue.description,facts.us-gaap.TreasuryStockCommonValue.units
0,1018724,"AMAZON.COM, INC.","Entity Common Stock, Shares Outstanding",Indicate number of shares or other units outst...,"{'shares': [{'end': '2009-07-17', 'val': 43180...",Entity Public Float,The aggregate market value of the voting and n...,"{'USD': [{'end': '2008-06-30', 'val': 23846135...",Accounts Payable (Deprecated 2009-01-31),Carrying value as of the balance sheet date of...,...,"{'USD': [{'start': '2020-07-01', 'end': '2021-...",Short-term Debt,Reflects the total carrying amount as of the b...,"{'USD': [{'end': '2021-12-31', 'val': 31800000...","Stockholders' Equity Note, Stock Split, Conver...",Ratio applied to the conversion of stock split...,"{'pure': [{'end': '2022-05-27', 'val': 20, 'ac...","Treasury Stock, Common, Value",Amount allocated to previously issued common s...,"{'USD': [{'end': '2021-12-31', 'val': 18370000..."

In [42]:
df.keys()

Index(['cik', 'entityName',
       'facts.dei.EntityCommonStockSharesOutstanding.label',
       'facts.dei.EntityCommonStockSharesOutstanding.description',
       'facts.dei.EntityCommonStockSharesOutstanding.units.shares',
       'facts.dei.EntityPublicFloat.label',
       'facts.dei.EntityPublicFloat.description',
       'facts.dei.EntityPublicFloat.units.USD',
       'facts.us-gaap.AccountsPayable.label',
       'facts.us-gaap.AccountsPayable.description',
       ...
       'facts.us-gaap.EffectOfExchangeRateOnCashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsIncludingDisposalGroupAndDiscontinuedOperations.units.USD',
       'facts.us-gaap.ShortTermBorrowings.label',
       'facts.us-gaap.ShortTermBorrowings.description',
       'facts.us-gaap.ShortTermBorrowings.units.USD',
       'facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.label',
       'facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.description',
       'facts.us-gaap.StockholdersEquityNoteStockSplitConversionRatio1.units.pure',
       'facts.us-gaap.TreasuryStockCommonValue.label',
       'facts.us-gaap.TreasuryStockCommonValue.description',
       'facts.us-gaap.TreasuryStockCommonValue.units.USD'],
      dtype='object', length=1510)

In [44]:
df["facts.dei.EntityCommonStockSharesOutstanding.label"]

0    Entity Common Stock, Shares Outstanding
Name: facts.dei.EntityCommonStockSharesOutstanding.label, dtype: object

In [46]:
for i in data:
    print(i)

cik
entityName
facts

In [47]:
for i in data["facts"]:
    print(i)

dei
us-gaap

In [51]:
metrices = []

for i in data["facts"]["us-gaap"]:
    # print(i)
    metrices.append(i)

In [53]:
print(len(metrices))

500

In [54]:
for i in data["facts"]["us-gaap"][metrices[0]]:
    print(i)

label
description
units

In [65]:
for i in data["facts"]["us-gaap"][metrices[0]]["units"]["USD"]:
    print(type(i))
    print(i)
    print(i["val"])

<class 'dict'>
{'end': '2008-12-31', 'val': 3594000000, 'accn': '0001193125-09-154174', 'fy': 2009, 'fp': 'Q2', 'form': '10-Q', 'filed': '2009-07-24', 'frame': 'CY2008Q4I'}
3594000000
<class 'dict'>
{'end': '2009-06-30', 'val': 2508000000, 'accn': '0001193125-09-154174', 'fy': 2009, 'fp': 'Q2', 'form': '10-Q', 'filed': '2009-07-24', 'frame': 'CY2009Q2I'}
2508000000

In [90]:
from time import sleep
from tqdm import tqdm
# for i in tqdm(range(10)):
#     sleep(3)
for i in tqdm(data["facts"]["us-gaap"]):
    sleep(0.1)

 10%|████████▍                                                                        | 52/500 [00:05<00:49,  9.00it/s]

KeyboardInterrupt:

In [122]:
df = pd.DataFrame()

In [123]:

for i in tqdm(data["facts"]["us-gaap"]):
    label = data["facts"]["us-gaap"][i]["label"]
    # print(label)
    if("Deprecated" in label):
        continue
    key = list(data["facts"]["us-gaap"][i]["units"].keys())[0]
    for row in data["facts"]["us-gaap"][i]["units"][key]:
        # print(row)
        # print(row["filed"])
        # print(row["val"])
        df = df.append({"date": row["filed"], "unit": label, "fp": row["fp"], "val": int(row["val"])}, ignore_index=True)
    # print(label)

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [00:23<00:00, 21.32it/s]

In [230]:
df.shape

(21582, 4)

In [231]:
df.head(1)

         date                       unit  fp         val
0  2009-10-23  Accounts Payable, Current  Q3  3594000000

In [232]:
# pd.crosstab(df.date, df.unit, normalize=False)

In [233]:
df.head(1)

         date                       unit  fp         val
0  2009-10-23  Accounts Payable, Current  Q3  3594000000

In [234]:
df['date'] =  pd.to_datetime(df['date'], format='%Y-%m-%d')

In [235]:
dates = df['date'].unique()

In [236]:
dates.sort()

In [164]:
# print(dates)
# for index in range(1, len(dates)):
#     if(dates[index]<dates[index-1]):
#         print("error")
#         print(index)
# print(len(dates))

In [251]:
init_unit = defaultdict(int)
df2 = pd.DataFrame()
for date in tqdm(dates):
    temp = df[(df['date'] == date)]
    # print(temp.shape)
    newdf = temp.drop_duplicates(subset = ['date', 'unit'], keep = 'last').reset_index(drop = True)
    # print("         ", newdf.shape)
    units = list(newdf["unit"].unique())
    fp = list(newdf["fp"].unique())
    # print(fp)
    # break
    for unit in units:
        # print(newdf[(newdf['unit'] == unit)])
        # print((newdf[(newdf['unit'] == unit)]['fp'].values[0]))
        # print(newdf[(newdf['unit'] == unit)]['fp'][0])
        if(init_unit.get(unit, None) == None):
            curr_val = newdf[(newdf['unit'] == unit)]['val'].values[0]
            new_val = 0
            init_unit[unit] = 1
            if (curr_val!=0):
                new_val = 1
                init_unit[unit] = curr_val
            # year = date.astype('datetime64[Y]').astype(int) + 1970
            # month = date.astype('datetime64[M]').astype(int) % 12 + 1
            # if((year == date_temp.year) & (month == date_temp.month)):# & (unit == "Earnings Per Share, Basic")):
            #     print(unit)
            #     print(new_val)
            #     print("here")
            fp = newdf[(newdf['unit'] == unit)]['fp'].values[0]
            df2 = df2.append({"date": date, "unit": unit, "fp": fp,"val": new_val}, ignore_index=True)
        else:
            curr_val = newdf[(newdf['unit'] == unit)]['val'].values[0]
            new_val = 0
            new_val = ((curr_val - init_unit.get(unit))/init_unit.get(unit))
            # year = date.astype('datetime64[Y]').astype(int) + 1970
            # month = date.astype('datetime64[M]').astype(int) % 12 + 1
            # # print(type(date))
            # # print(year)
            # # print(month)
            # # print(days)
            # # print(type(date_temp))
            # if((year == date_temp.year) & (month == date_temp.month)):# & (unit == "Earnings Per Share, Basic")):
            #     print(init_unit.get(unit))
            #     print(unit)
            #     print("new_val - ",new_val)
            init_unit[unit] = 1
            if(curr_val!=0):
                init_unit[unit] = curr_val
            fp = newdf[(newdf['unit'] == unit)]['fp'].values[0]
            df2 = df2.append({"date": date, "unit": unit, "fp": fp,"val": new_val}, ignore_index=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 54/54 [00:13<00:00,  4.14it/s]

In [252]:
df2.head(1)

        date                                               unit  fp  val
0 2009-07-24  Accounts Receivable, after Allowance for Credi...  Q2  1.0

In [253]:
print(len(df2.val.unique()))

6054

In [255]:
df2.to_csv('official_reports.csv')

In [203]:
from datetime import datetime
date_temp = datetime.strptime("2010-07-23", '%Y-%m-%d')
print(date_temp)

2010-07-23 00:00:00

In [206]:
print(df2[((df2.date == date_temp) & (df2.unit == "Earnings Per Share, Basic"))])

          date                       unit  fp  val
325 2010-07-23  Earnings Per Share, Basic  Q2  NaN

In [257]:
df2.shape

(7974, 4)